# image files
img/*

# LaTeX traces and binaries
*.pdf
*.log
*.toc
*.aux
*.out

# Bibtex traces
*.bak
*.blg
*.bbl

# PythonTeX traces and binaries
pythontex-*/
*.pytxcode

# Gedit
*~

# btsync
*Sync*
